<input type="text" [value]="date" (input)="setDate($event)" />
<hr />
{{ date }}
<table>
  <th>Date</th>
  <th>check</th>
  <th>Moment</th>
  <th>date-fns</th>
  <th>dayjs</th>
  <th>luxon</th>
  <tr>
    <td>{{ date }}</td>
    <td>validate</td>
    <td>{{ validateMoment(date) }}</td>
    <td>{{ validateDateFns(date) }}</td>
    <td>{{ validateDayJs(date) }}</td>
    <td>{{ validateLuxon(date) }}</td>
  </tr>
  <tr>
    <td>2022-04-31</td>
    <td>validate</td>
    <td>{{ validateMoment("2022-04-31") }}</td>
    <td>{{ validateDateFns("2022-04-31") }}</td>
    <td>{{ validateDayJs("2022-04-31") }}</td>
    <td>{{ validateLuxon("2022-04-31") }}</td>
  </tr>
  <tr>
    <td>2022-02-30</td>
    <td>validate</td>
    <td>{{ validateMoment("2022-02-30") }}</td>
    <td>{{ validateDateFns("2022-02-30") }}</td>
    <td>{{ validateDayJs("2022-02-30") }}</td>
    <td>{{ validateLuxon("2022-02-30") }}</td>
  </tr>
  <tr>
    <td>2022-02-20</td>
    <td>lastDayOfMonth</td>
    <td>{{ lastDayOfMonthMoment("2022-02-20") }}</td>
    <td>{{ lastDayOfMonthDateFns("2022-02-20") }}</td>
    <td>{{ lastDayOfMonthDayJs("2022-02-20") }}</td>
    <td>{{ lastDayOfMonthLuxon("2022-02-20") }}</td>
  </tr>
  <tr>
    <td>2022-03-01</td>
    <td>Minus 1 Day</td>
    <td>{{ minus1DayMoment("2022-03-01") }}</td>
    <td>{{ minus1DayDateFns("2022-03-01") }}</td>
    <td>{{ minus1DayDayjs("2022-03-01") }}</td>
    <td>{{ minus1DayLuxon("2022-03-01") }}</td>
  </tr>
</table>
